div, a {
	@include box-sizing(border-box);
}

html, body {
	min-width: 320px;
	min-height: 100%;
	font-size: 62.5%;

	/* on touch devices only */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #555;

	/* enhances font rendering? */
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

h1 {
	padding: .3rem 1rem;
	font-family: Exo2, Helvetica, Arial, sans-serif;
	color: #eee;
	font-size: 4rem;
	font-weight: bold;
	line-height: 1.8;
	text-align: center;
	text-transform: lowercase;
	@include large-size-and-up {
		font-size: 7rem;
		height: 14rem;
	}
}

h2 {
	margin: 2rem 0;
	font-size: 2.8rem;
//	font-weight: 100;
	color: black;
//	@include text-shadow(0 1px 1px #ddd);
}

h3 {
	margin: 1rem 0;
	border-bottom: 1px solid #ddd;
	font-size: 2rem;
//	font-weight: 100;
	line-height: 4rem;
	color: black;
//	@include text-shadow(0 1px 1px #ddd);
}

a{
	@include link-colors(#07a, saturate(#07a, 10%), #07a, #07a, #07a);
	@include hover-link;
}

p, li {
	margin: 1.5rem 0;
	font-size: 1.4rem;
	line-height: 2.4rem;
	word-wrap: break-word;
	/*text-align: justify;*/
	/*-webkit-hyphens: auto;*/
	/*-moz-hyphens: auto;*/
	/*hyphens: auto;*/

	+p {
		margin-top: 2.5rem;
	}
}

ul {
	list-style: disc;
	margin: 0 2rem;
}

li {
	margin: 0;
}

code {
	font-size: 1.4rem;
}

blockquote::before {
	content: '\201F';
	font-size: 2rem;
}

blockquote::after {
	content: '\201E';
	font-size: 2rem;
}

strong {
	font-weight: 700;
}

section {
	padding: 1rem;
}