$green: #a5b83e;
$blue: #3984b8;
$pink: #b844b5;

@mixin define-global-color($name, $color) {
	html.#{$name} {
		a:hover {
			box-shadow: 0 0 5px saturate($color, 20%);
			border-color: saturate($color, 20%);
			color: saturate($color, 5%);
		}

		#touchzone {
			background-color: $color
		}

		.demo .event-name {
			&.is-active::before {
				border-color: saturate($color, 10%);
				background: saturate($color, 40%);
			}
		}

		footer .love path {
			fill: saturate($color, 20%);
		}
	}
}

@include define-global-color(green, $green);
@include define-global-color(blue, $blue);
@include define-global-color(pink, $pink);