@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans-light.eot');
	src: url('fonts/opensans-light.woff') format('woff'), url('fonts/opensans-light.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;

}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans-regular.eot');
	src: url('fonts/opensans-regular.woff') format('woff'), url('fonts/opensans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/opensans-bold.eot');
	src: url('fonts/opensans-bold.woff') format('woff'), url('fonts/opensans-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: 'Calligraffiti';
	src: url('fonts/calligraffiti.eot');
	src: url('fonts/calligraffiti.woff') format('woff'), url('fonts/calligraffiti.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'Fontello';
	src: url('fonts/fontello.eot');
	src: url('fonts/fontello.woff') format('woff'), url('fonts/fontello.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;

}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	min-width: 320px;
	height: 100%;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-size: 62.5%;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #555;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body::after {
	content: 'mobile';
	position: absolute;
	z-index: 2;
	opacity: .3;
	top: 0;
	right: 0;
	padding: 1em;
	background: rgba(255, 255, 255, .3);
	font-size: 2em;
	color: white;
}

h1 {
	font-family: 'Calligraffiti', 'Arial Bold', sans-serif;
	font-size: 2.4em;
	font-weight: 100;
}

h2 {
	font-size: 2.4em;
	font-weight: 100;
}

p {
	font-size: 1.4em;
	line-height: 1.6em;
	word-wrap: break-word;
	/*text-align: justify;*/
	/*-webkit-hyphens: auto;*/
	/*-moz-hyphens: auto;*/
	/*hyphens: auto;*/
}

a {
	display: inline-block;
	vertical-align: middle;
	/*border: 2px solid #9ac847;*/
	margin-bottom: 1em;
	border: 2px solid #bbb;
	border-radius: 5px;
	background: #bbb;
	padding: .8em;
	font-size: 1.6em;
	line-height: 1.2em;
	width: 100%;
	color: #333;
	text-decoration: none;
	text-shadow: 1px 1px 2px #888;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	transition: .3s;
}

strong {
	font-weight: 700;
}

a:hover {
	box-shadow: 0 0 5px #bcec4b;
	border-color: #bcec4b;
	background: black;
	color: #9ac847;
	text-shadow: none;
}

blockquote {
	margin: 1em 0;
	background: rgba(255, 255, 255, .1);
	padding: .2em;
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	border-radius: 5px;
}

blockquote::before {
	content: '\201F';
	font-size: 2em;
}

blockquote::after {
	content: '\201E';
	font-size: 2em;
}

header {
	position: fixed;
	z-index: 1;
	border-top: .3em solid #a5b83e;
	background: black;
	width: 100%;
	color: #bbb;
	box-shadow: 0 0 10px #111;
}

header h1 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: .3em 1em;
}

main {
	padding-top: 5em;
}

section {
	padding: 1em;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	vertical-align: middle;
	font-family: 'Fontello';
	font-size: 2em;
	/*font-style: normal;*/
	/*font-weight: normal;*/
	speak: none;
	text-decoration: inherit;
	margin-right: 0.4em;
}

.icon-up-hand::before { content: '\261d'; } /* '☝' */
.icon-code::before { content: '\e714'; } /* '' */
.icon-firefox::before { content: '\e840'; } /* '' */
.icon-chrome::before { content: '\e841'; } /* '' */
.icon-opera::before { content: '\e842'; } /* '' */
.icon-ie::before { content: '\e843'; } /* '' */
.icon-github-repo::before { content: '\f09b'; } /* '' */
.icon-github::before { content: '\f300'; } /* '' */
.icon-github-circled::before { content: '\f301'; } /* '' */
.icon-twitter::before { content: '\f309'; } /* '' */
.icon-twitter-circled::before { content: '\f30a'; } /* '' */
.icon-facebook::before { content: '\f30c'; } /* '' */
.icon-facebook-circled::before { content: '\f30d'; } /* '' */
.icon-gplus::before { content: '\f30f'; } /* '' */
.icon-gplus-circled::before { content: '\f310'; } /* '' */
.icon-tumblr::before { content: '\f315'; } /* '' */
.icon-tumblr-circled::before { content: '\f316'; } /* '' */
.icon-linkedin::before { content: '\f318'; } /* '' */
.icon-linkedin-circled::before { content: '\f319'; } /* '' */
.icon-spotify::before { content: '\f327'; } /* '' */
.icon-spotify-circled::before { content: '\f328'; } /* '' */
.icon-instagram::before { content: '\f32d'; } /* '' */
.icon-download::before { content: '\1f4e5'; } /* '\1f4e5*/


section:first-child {
	background-color: #333;
	background-image: -webkit-linear-gradient(#2e2e2e 2px, transparent 1px), -webkit-linear-gradient(left, #2e2e2e 2px, transparent 1px);
	background-image: -moz-linear-gradient(#2e2e2e 2px, transparent 1px), -moz-linear-gradient(left, #2e2e2e 2px, transparent 1px);
	background-size: 3px 3px;
	background-position: -1px -1px, -1px -1px;
	color: #bbb;
}

/*section:first-child h2 {*/
	/*font-size: 3.8em;*/
/*}*/

section:first-child p {
	line-height: 2em;
}

.touchzone-wrapper {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.touchzone {
	position: relative;
	margin: 2em auto 4em auto;
	border: 10px solid rgba(255, 255, 255, .2);
	padding-top: 75%;
	width: 100%;
	background: #a5b83e;
	-webkit-animation-duration: .2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: 2;
}

.touchzone::after {
	content: attr(data-event);
}

.touchzone.tap {
	-webkit-animation-name: touch-tap;
}

.touchzone.drag {
	-webkit-animation-name: touch-drag;
	-webkit-animation-iteration-count: 1;
}

.touchzone.flick-horizontal {
	-webkit-animation-name: touch-flick-horizontal;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
}

.touchzone.flick-vertical {
	-webkit-animation-name: touch-flick-vertical;
	-webkit-animation-duration: .5s;
	-webkit-animation-iteration-count: 1;
}

.touchzone.reverse {
	-webkit-animation-direction: reverse;
}

.actions {
	text-align: center;
}

.warp {
	position: absolute;
	opacity: 0;
	border: 4px solid rgba(255, 255, 255, .8);;
	border-radius: 100%;
	background: rgba(255, 255, 255, .5);
	pointer-events: none; /* pass through */
	-webkit-transform: scale(.6);
	-webkit-animation-duration: .2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
	-webkit-animation-iteration-count: 2;
}

.warp.tap {
	-webkit-animation-name: warp-tap;
}

@media only screen and (min-width: 25em /* 400px */) {
	body::after {
		content: 'big-mobile';
	}

	a {
		margin-left: 1em;
		width: 12em;
	}

	blockquote {
		font-size: 1.4em;
	}

	blockquote::before {
		margin-right: .2em;
		font-size: 3em;
	}

	blockquote::after {
		margin-left: .2em;
		font-size: 3em;
	}
}

@media only screen and (min-width: 42.5em /* 680px */) {
	body::after {
		content: 'tablet';
	}

	section {
		padding: 1em 4em;
	}

	.touchzone {
		padding-top: 0;
		width: 60em;
		height: 45em;
	}
}

@media only screen and (min-width: 62.5em /* 1000px */) {
	body::after {
		content: 'desktop';
	}

	section {
		width: 100em;
		margin: 0 auto; /* fallback if calc is not supported */
		padding: 1em -webkit-calc(50% - 50em);
		padding: 1em -moz-calc(50% - 50em);
	}
}

@media only screen and (min-width: 80em /* 1280px */) {

	/*body {*/
		/*margin: 0 auto;*/
		/*width: 128em;*/
	/*}*/
}

@-webkit-keyframes touch-tap {
	to { -webkit-transform: scale(.95); opacity: .6; }
}

@-webkit-keyframes touch-flick-horizontal {
	to { -webkit-transform: rotateY(360deg); }
}

@-webkit-keyframes touch-flick-vertical {
	to { -webkit-transform: rotateX(360deg); }
}

@-webkit-keyframes warp-tap {
	to { -webkit-transform: scale(1); opacity: 1; }
}

html.green a:hover {
	box-shadow: 0 0 5px #bcec4b;
	border-color: #bcec4b;
	color: #9ac847;
}
html.green .touchzone {
	background-color: #a5b83e;
}

html.blue a:hover {
	box-shadow: 0 0 5px #44adec;
	border-color: #44adec;
	color: #418cc8;
}
html.blue .touchzone {
	background-color: #3984b8;
}

html.pink a:hover {
	box-shadow: 0 0 5px #ec48e9;
	border-color: #ec48e9;
	color: #be45bb;
}
html.pink .touchzone {
	background-color: #b844b5;
}