/* line 17, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, scss/_colors.scss */
html.green a:hover {
  box-shadow: 0 0 5px #b6d125;
  border-color: #b6d125;
  color: #a9be38;
}

/* line 7, scss/_colors.scss */
html.green .touchzone {
  background-color: #a5b83e;
}

/* line 2, scss/_colors.scss */
html.blue a:hover {
  box-shadow: 0 0 5px #2188d0;
  border-color: #2188d0;
  color: #3385be;
}

/* line 7, scss/_colors.scss */
html.blue .touchzone {
  background-color: #3984b8;
}

/* line 2, scss/_colors.scss */
html.pink a:hover {
  box-shadow: 0 0 5px #d12bcd;
  border-color: #d12bcd;
  color: #be3ebb;
}

/* line 7, scss/_colors.scss */
html.pink .touchzone {
  background-color: #b844b5;
}

/* line 1, scss/_base.scss */
div, a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, scss/_base.scss */
html, body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  font-size: 62.5%;
  /* on touch devices only */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 16, scss/_base.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #555;
  /* enhances font rendering? */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 25, scss/_base.scss */
h1 {
  background-color: #333;
  padding: 0.3rem 1rem;
  font-family: "Days", "Arial Bold", sans-serif;
  color: #eee;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

/* line 36, scss/_base.scss */
h2 {
  margin: 2rem 0;
  font-size: 2.8rem;
  font-weight: 100;
  text-shadow: 0 1px 1px #dddddd;
}

/* line 43, scss/_base.scss */
h3 {
  margin: 1rem 0;
  border-bottom: 1px solid #dddddd;
  font-size: 2rem;
  font-weight: 100;
  line-height: 4rem;
  text-shadow: 0 1px 1px #dddddd;
}

/* line 52, scss/_base.scss */
a {
  color: #0077aa;
  text-decoration: none;
}
/* line 18, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #0077aa;
}
/* line 21, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0077aa;
}
/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0077aa;
}
/* line 27, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #0077aa;
}
/* line 4, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
a:hover {
  text-decoration: underline;
}

/* line 57, scss/_base.scss */
p {
  margin: 1.5rem 0;
  font-size: 1.4rem;
  line-height: 2.4rem;
  word-wrap: break-word;
  /*text-align: justify;*/
  /*-webkit-hyphens: auto;*/
  /*-moz-hyphens: auto;*/
  /*hyphens: auto;*/
}
/* line 67, scss/_base.scss */
p + p {
  margin-top: 2.5rem;
}

/* line 72, scss/_base.scss */
code {
  font-size: 1.4rem;
}

/* line 76, scss/_base.scss */
blockquote::before {
  content: '\201F';
  font-size: 2rem;
}

/* line 81, scss/_base.scss */
blockquote::after {
  content: '\201E';
  font-size: 2rem;
}

/* line 86, scss/_base.scss */
strong {
  font-weight: 700;
}

/* line 90, scss/_base.scss */
section {
  padding: 1rem;
}

@font-face {
  font-family: "Open Sans";
  src: url('fonts/opensans-light.eot');
  src: url('fonts/opensans-light.eot?#iefix') format('eot'), url('fonts/opensans-light.woff') format('woff'), url('fonts/opensans-light.ttf') format('truetype'), url('fonts/opensans-light.svg') format('svg');
  font-weight: 100;
}

@font-face {
  font-family: "Open Sans";
  src: url('fonts/opensans-regular.eot');
  src: url('fonts/opensans-regular.eot?#iefix') format('eot'), url('fonts/opensans-regular.woff') format('woff'), url('fonts/opensans-regular.ttf') format('truetype'), url('fonts/opensans-regular.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('fonts/opensans-bold.eot');
  src: url('fonts/opensans-bold.eot?#iefix') format('eot'), url('fonts/opensans-bold.woff') format('woff'), url('fonts/opensans-bold.ttf') format('truetype'), url('fonts/opensans-bold.svg') format('svg');
  font-weight: 700;
}

@font-face {
  font-family: "Days";
  src: url('fonts/days.eot');
  src: url('fonts/days.eot?#iefix') format('eot'), url('fonts/days.woff') format('woff'), url('fonts/days.ttf') format('truetype'), url('fonts/days.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "Fontello";
  src: url('fonts/fontello.eot');
  src: url('fonts/fontello.eot?#iefix') format('eot'), url('fonts/fontello.woff') format('woff'), url('fonts/fontello.ttf') format('truetype'), url('fonts/fontello.svg') format('svg');
  font-weight: normal;
}

/* line 2, scss/_icons.scss */
[class^="icon-"]::before,
[class*=" icon-"]::before {
  vertical-align: top;
  font-family: 'Fontello';
  font-size: 3.2rem;
  /*font-style: normal;*/
  /*font-weight: normal;*/
  speak: none;
  text-decoration: inherit;
  margin-right: 0.8rem;
}
@media (max-width: 25em) {
  /* line 2, scss/_icons.scss */
  [class^="icon-"]::before,
  [class*=" icon-"]::before {
    padding-left: 1rem;
  }
}

/* line 16, scss/_icons.scss */
.icon-up-hand::before {
  content: '\261d';
}

/* '?' */
/* line 17, scss/_icons.scss */
.icon-code::before {
  content: '\e714';
}

/* '?' */
/* line 18, scss/_icons.scss */
.icon-firefox::before {
  content: '\e840';
}

/* '?' */
/* line 19, scss/_icons.scss */
.icon-chrome::before {
  content: '\e841';
}

/* '?' */
/* line 20, scss/_icons.scss */
.icon-opera::before {
  content: '\e842';
}

/* '?' */
/* line 21, scss/_icons.scss */
.icon-ie::before {
  content: '\e843';
}

/* '?' */
/* line 22, scss/_icons.scss */
.icon-github-repo::before {
  content: '\f09b';
}

/* '?' */
/* line 23, scss/_icons.scss */
.icon-github::before {
  content: '\f300';
}

/* '?' */
/* line 24, scss/_icons.scss */
.icon-github-circled::before {
  content: '\f301';
}

/* '?' */
/* line 25, scss/_icons.scss */
.icon-twitter::before {
  content: '\f309';
}

/* '?' */
/* line 26, scss/_icons.scss */
.icon-twitter-circled::before {
  content: '\f30a';
}

/* '?' */
/* line 27, scss/_icons.scss */
.icon-facebook::before {
  content: '\f30c';
}

/* '?' */
/* line 28, scss/_icons.scss */
.icon-facebook-circled::before {
  content: '\f30d';
}

/* '?' */
/* line 29, scss/_icons.scss */
.icon-gplus::before {
  content: '\f30f';
}

/* '?' */
/* line 30, scss/_icons.scss */
.icon-gplus-circled::before {
  content: '\f310';
}

/* '?' */
/* line 31, scss/_icons.scss */
.icon-tumblr::before {
  content: '\f315';
}

/* '?' */
/* line 32, scss/_icons.scss */
.icon-tumblr-circled::before {
  content: '\f316';
}

/* '?' */
/* line 33, scss/_icons.scss */
.icon-linkedin::before {
  content: '\f318';
}

/* '?' */
/* line 34, scss/_icons.scss */
.icon-linkedin-circled::before {
  content: '\f319';
}

/* '?' */
/* line 35, scss/_icons.scss */
.icon-spotify::before {
  content: '\f327';
}

/* '?' */
/* line 36, scss/_icons.scss */
.icon-spotify-circled::before {
  content: '\f328';
}

/* '?' */
/* line 37, scss/_icons.scss */
.icon-instagram::before {
  content: '\f32d';
}

/* '?' */
/* line 38, scss/_icons.scss */
.icon-download::before {
  content: '\1f4e5';
}

/* '\1f4e5*/
@-moz-keyframes tap {
  /* line 2, scss/_anims.scss */
  to {
    -moz-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    opacity: .6;
  }
}

@-webkit-keyframes tap {
  /* line 2, scss/_anims.scss */
  to {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    opacity: .6;
  }
}

@-o-keyframes tap {
  /* line 2, scss/_anims.scss */
  to {
    -o-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    opacity: .6;
  }
}

@-ms-keyframes tap {
  /* line 2, scss/_anims.scss */
  to {
    -ms-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    opacity: .6;
  }
}

@keyframes tap {
  /* line 2, scss/_anims.scss */
  to {
    transform: scale(0.95, 0.95);
    opacity: .6;
  }
}

@-webkit-keyframes flick-horizontal {
  /* line 9, scss/_anims.scss */
  to {
    -webkit-transform: perspective(400px) rotateY(-45deg);
    -moz-transform: perspective(400px) rotateY(-45deg);
    -ms-transform: perspective(400px) rotateY(-45deg);
    -o-transform: perspective(400px) rotateY(-45deg);
    transform: perspective(400px) rotateY(-45deg);
  }
}

@-webkit-keyframes flick-vertical {
  /* line 15, scss/_anims.scss */
  to {
    -webkit-transform: perspective(400px) rotateX(180deg);
    -moz-transform: perspective(400px) rotateX(180deg);
    -ms-transform: perspective(400px) rotateX(180deg);
    -o-transform: perspective(400px) rotateX(180deg);
    transform: perspective(400px) rotateX(180deg);
  }
}

/* line 23, scss/_anims.scss */
.tap {
  -webkit-animation: tap 0.2s linear alternate 2;
  -moz-animation: tap 0.2s linear alternate 2;
  -ms-animation: tap 0.2s linear alternate 2;
  -o-animation: tap 0.2s linear alternate 2;
  animation: tap 0.2s linear alternate 2;
}

/* line 23, scss/_anims.scss */
.drag {
  -webkit-animation: drag 0.2s linear 1;
  -moz-animation: drag 0.2s linear 1;
  -ms-animation: drag 0.2s linear 1;
  -o-animation: drag 0.2s linear 1;
  animation: drag 0.2s linear 1;
}

/* line 23, scss/_anims.scss */
.flick-horizontal {
  -webkit-animation: flick-horizontal 0.2s linear alternate 2;
  -moz-animation: flick-horizontal 0.2s linear alternate 2;
  -ms-animation: flick-horizontal 0.2s linear alternate 2;
  -o-animation: flick-horizontal 0.2s linear alternate 2;
  animation: flick-horizontal 0.2s linear alternate 2;
}

/* line 23, scss/_anims.scss */
.flick-vertical {
  -webkit-animation: flick-vertical 0.2s linear alternate 2;
  -moz-animation: flick-vertical 0.2s linear alternate 2;
  -ms-animation: flick-vertical 0.2s linear alternate 2;
  -o-animation: flick-vertical 0.2s linear alternate 2;
  animation: flick-vertical 0.2s linear alternate 2;
}

@media (min-width: 42.5em) {
  /* line 21, scss/style.scss */
  section {
    padding: 1rem 4rem;
  }
}
@media (min-width: 62.5em) {
  /* line 21, scss/style.scss */
  section {
    width: 100rem;
    margin: 0 auto;
    /* fallback if calc is not supported */
    padding: 1rem -webkit-calc(50% - 50rem);
    padding: 1rem -moz-calc(50% - 50rem);
  }
}

/* line 33, scss/style.scss */
section:first-child {
  background-color: #333;
  background-image: -webkit-linear-gradient(#2e2e2e 2px, transparent 1px), -webkit-linear-gradient(left, #2e2e2e 2px, transparent 1px);
  background-image: -moz-linear-gradient(#2e2e2e 2px, transparent 1px), -moz-linear-gradient(left, #2e2e2e 2px, transparent 1px);
  background-size: 3px 3px;
  background-position: -1px -1px, -1px -1px;
  color: #bbb;
}
/* line 41, scss/style.scss */
section:first-child p {
  line-height: 3rem;
}

/* line 50, scss/style.scss */
.actions {
  margin: 4rem 0;
}
@media (min-width: 25em) {
  /* line 50, scss/style.scss */
  .actions {
    text-align: center;
  }
}
/* line 56, scss/style.scss */
.actions a {
  display: inline-block;
  border: 2px solid #bbbbbb;
  border-radius: 5px;
  background: #bbb;
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  color: #333;
  line-height: 2rem;
  vertical-align: middle;
  text-decoration: none;
  text-shadow: 1px 1px 2px #888888;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
@media (min-width: 25em) {
  /* line 56, scss/style.scss */
  .actions a {
    margin-left: 1rem;
    width: 18rem;
  }
}
@media (max-width: 25em) {
  /* line 75, scss/style.scss */
  .actions a:first-child {
    margin-bottom: 2rem;
  }
}
/* line 81, scss/style.scss */
.actions a:hover {
  -webkit-box-shadow: 0 0 5px #bcec4b;
  -moz-box-shadow: 0 0 5px #bcec4b;
  box-shadow: 0 0 5px #bcec4b;
  border-color: #bcec4b;
  background: black;
  color: #9ac847;
  text-shadow: none;
}

/* line 96, scss/style.scss */
.touchzone {
  position: relative;
  margin: 2rem auto;
  border: 10px solid rgba(255, 255, 255, 0.2);
  background: #a5b83e;
  padding-top: 75%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media (min-width: 42.5em) {
  /* line 96, scss/style.scss */
  .touchzone {
    padding-top: 0;
    width: 60rem;
    height: 45rem;
  }
}
/* line 110, scss/style.scss */
.touchzone::after {
  content: attr(data-event);
}

/* line 116, scss/style.scss */
.warp {
  position: absolute;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  /* pass through */
}
/* line 125, scss/style.scss */
.warp.tap {
  -webkit-animation: bounceIn 0.2s linear alternate 2;
  -moz-animation: bounceIn 0.2s linear alternate 2;
  -ms-animation: bounceIn 0.2s linear alternate 2;
  -o-animation: bounceIn 0.2s linear alternate 2;
  animation: bounceIn 0.2s linear alternate 2;
}

/* line 135, scss/style.scss */
pre[class*="language-"] {
  margin: 1.5rem 0;
}
